body{
  font-family: "Plus Jankarta Sans" sans-serif  !important;
  display: flex;
  flex-direction: column;
    background-color: pink;
    min-height: 100vh;
}
.container{
  flex:1;
}





/*styling to navbar*/
.navbar{
height:5rem;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link {
    color:#222222  !important;
}
/*styling to footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links  {
  width:100%; 
  vertical-align: middle; 
  display: flex;
align-items: center;
  justify-content: center;

}
.f-info-brand{
    width:100%; 
  vertical-align: middle; 
  display: flex;
align-items: center;
  justify-content: center;
}
.f-info-socials{
width:100%;
vertical-align: middle; 
margin-right:2rem;
display: flex;
align-items: center;
  justify-content: center;
}

.f-info-socials i{
margin-right: 1rem;
font-size: 1.2rem;
}
.f-info{
    text-align: center;
     height:8rem;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   align-items: space-evenly;
   margin-top: 40px;  
  padding: 10px 0;
   
}
/*new page*/

.add-btn{
  background-color:#fe424d !important;
  border:none !important;
}

/*edit page*/
.edit-btn{
  background-color: #fe424d !important;
   border:none !important;

}
/*show page*/
.show-img{
 height:30vh;
}
/*buttons*/
.btns{
  display: flex;
}
.show-card{
  padding-left: 0;
  padding-right: 0;
}